

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


*{
    font-family: Arial, Helvetica, sans-serif;
}
.page {
   background-color:  #DDDDDD;;
}
.landing-heading{

    color:#240D57
}
.landing-heading > span{
    

background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}
.create-event-btn{
    background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
}
.create-event-heading{
    color: #240D57;
}


.icon{
    font-size: 2rem;
    @apply text-dark-violet;
    @apply mr-6;
}

